/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin:0;
  padding:0;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--brand-color:#f05e16;
	--light-brand-color:#ffb347;
}





/****************/
/* JOUW STYLING */
/****************/
/* jouw code */

/* header {
	background-color: orange;
} */

/* bron: https://codyhouse.co/nuggets/css-gradient-borders */
header {
	border-image: linear-gradient(to left, #f05e16, #ffb347, #f05e16, #ffb347) 1;
	border-width: .25em;
	border-top-style: solid;
	padding: 1em;

}

header nav:first-of-type {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav:nth-of-type(2) {
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow: auto;

	transform: translateX(100%);

}

header nav:first-of-type a:first-of-type img:first-of-type {
	width: 8em;
}

header nav:first-of-type a:last-of-type img {
	width: 2em;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


#zoek-icon path {
	fill: #000000;
}

#account-icon circle {
	stroke:#000000;
	stroke-width:1.5;
}

#account-icon path {
	fill:#000000;
}

main img {
	width: 100%;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
 

